.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.message-time {
  display: flex;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(125, 125, 125);
}