.send-button, .clear-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-button {
  background-color: rgb(228, 228, 228);
  color: #000000;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}